body {
    padding-top: 5rem;
}

.pic-gallery{
    text-align: center;
}

.pic-list {
    -webkit-columns: 3; /* for Safari and Chrome */
    -moz-columns: 3; /* for Firefox */
    columns: 3;
    list-style: none;
    list-style: none;
  }

  .pic-list li img {
    height: 200px;
    width: 300px;
    padding: 20px;
  }
  

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}